body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
.question-container{
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question-container h2{
    margin-bottom: 20px;
    text-align: center;
}
.question-container .question{
    margin-bottom: 15px;

}
.question-container button{
    width: 100%;
    padding: 10px;
    background-color: rgb(44, 75, 121);
    color: #ccc;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.question-container button:hover{
    background-color: aqua;
}