body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.result-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.result-container h2{
    margin-bottom: 20px;
    text-align: center;
}
.result-container p{
    margin-bottom: 10px;
}
.result-container .score{
    font-weight: bold;
}